@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.game-canvas {
  height: 100dvh;
  width: 100dvw;
  background-color: black;
}

#game-start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  color: white;
  height: 100dvh;
  font-size: 30px;
}
#game-start-container > h1 {
  font-size: 8rem;
}
#game-start-container > p {
  animation: blink 2s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#volume-button {
  position: absolute;
  left: 95%;
  margin-top: 1rem;
  font-size: 4rem;
  color: white;
}

#volume-button:hover {
  cursor: pointer;
}
